<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumaira.superiormanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".addclass"></activity>
        <activity
            android:name=".regisration"
            android:label="Reister" />
        <activity
            android:name=".login"
            android:label="Login" />
        <activity
            android:name=".dashboardstd"
            android:label="Welcome Student" />
        <activity
            android:name=".resultList"
            android:label="Results"
            android:parentActivityName=".dashboardstd" />
        <activity
            android:name=".viewresult"
            android:label="Result Details"
            android:parentActivityName=".resultList" />
        <activity
            android:name=".timetable"
            android:label="Timetable"
            android:parentActivityName=".dashboardteach" />
        <activity
            android:name=".showQuestions"
            android:label="Questions"
            android:parentActivityName=".dashboardstd" />
        <activity
            android:name=".question"
            android:label="Question"
            android:parentActivityName=".showQuestions" />
        <activity
            android:name=".events"
            android:label="Events"
            android:parentActivityName=".dashboardstd" />
        <activity
            android:name=".eventDetails"
            android:label="Event Details"
            android:parentActivityName=".events" />
        <activity
            android:name=".dashboardteach"
            android:label="Welcome Teacher" />
        <activity
            android:name=".attendancelist"
            android:label="Class List"
            android:parentActivityName=".dashboardteach" />
        <activity
            android:name=".attendance"
            android:label="Mark Attendance"
            android:parentActivityName=".attendancelist"></activity>
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showteacherquestion"
            android:label="Questions"
            android:parentActivityName=".dashboardteach" />
        <activity
            android:name=".answer"
            android:parentActivityName=".showQuestions" />
        <activity
            android:name=".leaves"
            android:parentActivityName=".dashboardteach" />
    </application>

</manifest>